@media screen and (max-width: 1340px) {
    .wrapper {
        width: auto;
        padding-left: 45px;
        padding-right: 45px;
    }
    .relize-project .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
    }
    .relize-project__photo-container__row2 {
        display: none;
    }
    .relize-project__photo-container__row {
        grid-template-columns: 340px 340px;
        grid-row-gap: 20px;
    }
    .relize-project__photo-container__row__card-big {
        grid-column-start: 1;
        grid-column-end: 3;
        width: auto;
    }
    .relize-project__photo-container__row__card_img {
        width: 100%;
        height: 100%;
    }
    .why-we .wrapper {
        width: 700px;
        padding-left: 0;
        padding-right: 0;
    }
    .why-we__cards-container {
        grid-template-columns: 1fr;
    }
    .clients .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
    }
    .clients__slider {
        width: 460px;
    }
    .about__numbers-container_card_top-number {
        line-height: 70px;
        font-size: 54px;
    }
    .about__numbers-container_card_top-number_span {
        font-size: 30px;
    }
    .about__numbers-container_card_text {
        font-size: 12px;
        line-height: 18px;
    }
    .about__bottom {
        flex-direction: column;
    }
    .about__bottom_img {
        width: 100%;
    }
    .about__bottom_p {
        margin-top: 36px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 36px;
    }
    .about__bottom_right {
        width: auto;
    }
    .about__bottom_p {
        padding-left: 0;
    }
    .about .main-h2 {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .about__bottom_right {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .about__bottom_right .header-top__right_button {
        margin-left: 0;
    }
    .about {
        padding-bottom: 60px;
    }
    .serteficates .wrapper {
        width: 700px;
        padding-left: 0;
        padding-right: 0;
    }
    .serteficates-slider {
        width: 460px;
    }
    .serteficates-slider_item_img {
        width: 220px;
        height: 312px;
    }
    .serteficates-slider_item_text {
        width: 220px;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    .serteficates-slider .slick-next {
        top: 152px;
    }
    .serteficates-slider .slick-prev {
        top: 152px;
    }
    .comments__slider {
        width: 460px;
    }
    .comments__slider__item {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        height: auto;
    }
    .comments .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
    }
    .comments__slider__item_right_main  {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 12px;
        display: block;
    }
    .comments__slider__item_right {
        width: auto;
    }
    .comments__slider__item_right_text {
        margin-bottom: 16px;
        font-size: 16px;
    }
    .comments__slider__item_right_link {
        display: block;
        text-align: center;
        font-size: 18px;
    }
    .comments__slider .slick-next {
        top: 217px;
    }
    .comments__slider .slick-prev {
        top: 217px;
    }
    .footer-wrapper {
        width: 700px;
        padding-left: 0;
        padding-right: 0;
    }
    .footer__container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }
    .footer__container__right-column {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }
    .about__numbers-container {
        width: 700px;
        margin: 0 auto;
    }
    .about .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .footer__container__right-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer__container__center-column {
        width: auto;
    }
    .footer_top-conatiner {
        position: relative;
        top: -20px;
    }
    .footer_bottom-conatiner {
        margin-top: 15px;
    }
    .footer__container__right-column {
        margin-top: 30px;
    }
    /*О нас*/
    .about-advantages .wrapper {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .bread {
        width: 700px;
        left: calc(50% - 350px);
    }
    .about-page-section .wrapper {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .about-page-section__container__text-block_float-img {
        margin-left: 0;
        float: none;
        width: 100%;
        order: 3;
        margin-bottom: 10px;
    }
    .about-page-section__container__text-block {
        display: flex;
        flex-direction: column;
    }
    .about-page-section__container__text-block_p1 {
        order: 1;
    }
    .about-page-section__container__text-block_p2 {
        order: 2;
    }
    .about-page-section__container__text-block_p3 {
        order: 4;
    }
    .about-page-section__container__text-block_p {
        margin-bottom: 10px;
    }
    .about__our-team .wrapper {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .about__our-team__container__team-cards_card {
        height: 442px;
        position: relative;
        width: 700px;
    }
    .about__our-team__container__team-cards_card_right {
         padding-left: 0;
        padding-right: 30px;
     }
    .about__our-team__container__team-cards_card_img {
        position: absolute;
        width: 220px;
        height: 178px;
    }
    .about__our-team__container__team-cards_card_right_name {
        margin-left: 266px;
        font-size: 20px;
    }
    .about__our-team__container__team-cards_card_right_post {
        margin-left: 266px;
        font-size: 18px;
    }
    .about__our-team__container__team-cards_card_right_text {
        padding-left: 35px;
        margin-top: 115px;
    }
    .current-service .wrapper {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    /*О нас*/
    /*конкретная услуга*/
    .current-service-container__slider {
        height: 426px;
    }
    .current-service-container__slider__item {
        height: 426px;
    }
    .current-service-container__slider .slick-dots {
        width: 374px;
        padding-left: 60px;
    }
    .arrow-prev {
        right: 303px;
    }
    .arrow-next {
        right: 90px;
    }
    .sub-main {
        font-size: 20px;
    }
    .current-service-container_green-cards {
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        margin-bottom: 100px;
    }
    .current-service-container_text {
        font-size: 20px;
    }
    .current-service-container_text a {
        font-size: 20px;
    }
    .current-service-container_slider {
        width: 520px;
    }
    .current-service-container_slider_item {
        width: 520px !important;
    }
    .current-service-container_slider .slick-next {
        right: -89px;
    }
    .current-service-container_slider .slick-prev {
        left: -89px;
    }
    .period-section .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .period-section__container__content {
        width: 700px;
    }
    .relize-project2 {
        padding-top: 100px;
    }
    .similar-services__container__slider {
        width: 460px;
    }
    .similar-services__container__slider__item_content {
        width: 460px;
    }
    .similar-services__container__slider .slick-next {
        right: -118px;
    }
    .similar-services__container__slider .slick-prev {
        left: -118px;
    }
    .similar-services__container__slider__item_content {
        height: 280px;
    }
    .questions__container__form {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 340px;
    }
    .questions__container__form_input {
        margin-bottom: 20px;
        width: 100%;
    }
    .questions__container__form_btn {
        width: 100%;
    }
    /*конкретная услуга*/
    /*Сертефикаты*/
    .certifications__content_row {
        grid-template-columns: 212px 212px 212px;
        margin-bottom: 100px;
        width: 100%;
    }
    .serteficates-slider_item_text {
        line-height: 15px;
        font-size: 12px;
    }
    .serteficates-slider_item_img {
        margin-bottom: 20px;
    }
    .wrapper2 {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    /*Сертефикаты*/
    /*Отзывы*/
    .comments-cards__card_img {
        width: 160px;
        height: 212px;
        margin-right: 20px;
    }
    .comments-cards__card_right {
        width: 520px;
        padding: 20px;
    }
    .comments-cards__card_right_top_main {
        font-size: 16px;
        line-height: 20px;
    }
    .comments-cards__card_right_top_stars_star {
        width: 16px;
        height: 16px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .comments-cards__card_right_top_stars_star:not(last-child) {
        margin-right: 4px;
    }
    .comments-cards__card_right_date {
        font-size: 12px;
        line-height: 15px;
        margin-top: 4px;
        margin-bottom: 16px;
    }
    .comments-cards__card_right_text {
        font-size: 16px;
        line-height: 20px;
    }
    .comments-cards__card {
        padding-bottom: 48px;
        padding-top: 48px;
    }
    .get-comment__container_text {
        font-size: 20px;
        line-height: 24px;
    }
    .get-comment__container_textarea__bottom-block {
        grid-template-columns: 340px 340px;
        display: grid;
    }
    .get-comment__container {
        padding-bottom: 100px;
    }
    /*Отзывы*/
    /*Услуги*/
    .service-gallery__container__cards {
        grid-template-columns: 340px 340px;
    }
    .service-gallery__container__cards_card {
        height: 280px;
    }
    .service-gallery__container__cards_card_main {
        font-size: 20px;
        line-height: 24px;
        max-width: 320px;
    }
    .service-text-section_p {
        font-size: 20px;
        line-height: 32px;
    }
    .service-text-section {
        padding-top: 60px;
    }
    .service-text-section_p_link {
        font-size: 20px;
        line-height: 24px;
    }
    .service-text-section_p_link-tel {
        font-size: 20px;
        line-height: 24px;
    }
    /*Услуги*/
    /*Контакты*/
    .contacts-page__container_lr {
        display: flex;
        flex-direction: column;
    }
    .contacts-page__container_left_row {
        margin-bottom: 20px;
    }
    .contacts-page__container_left {
        order: 1;
    }
    .contacts-page__container_right {
        order: 3;
    }
    .contacts-page__container_columns {
        order: 2;
        flex-direction: column;
    }
    .contacts-page__container_columns_column {
        margin-bottom: 20px;
    }
    .contacts-page__container_right_form {
        margin: 0 auto;
        margin-top: 100px;
    }
    .map__container_img-row_card {
        width: 340px;
        height: 280px;
        margin-bottom: 20px;
    }
    .map__container_img-row {
        flex-wrap: wrap;
    }
    .map__container_img-row_card_text {
        font-size: 20px;
    }
    .container-for-map iframe {
        height: 340px;
    }
    .container-for-map {
        margin-top: 36px;
    }
    .map__container_img-row_card3 {
        margin-bottom: 0;
    }
    /*Контакты*/
    /*Проектные работы*/
    .prj-works__container_top-images_img {
        width: 340px;
        height: 280px;
    }
    .prj-works__container_top-images_img_text {
        font-size: 20px;
        line-height: 24px;
    }
    .prj-works__container_top-images {
        margin-bottom: 46px;
    }
    /*Проектные работы*/
    /*Портфолио*/
    .portfolio-page__container__gallery {
        grid-template-columns: 340px 340px;
    }
    .portfolio-page__container__gallery__item {
        height: 280px;
    }
    .portfolio-page__container__gallery__item_text {
        font-size: 20px;
    }
    /*Портфолио*/
}
@media screen and (max-width: 1100px) {
    .header-top__left_logo {
        margin-right: 20px;
    }
    .header-top__right__mail-phone {
        margin-right: 20px;
    }
    .wrapper2 {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 960px) {
    .wrapper {
        padding-left: 35px;
        padding-right: 35px;
    }
    .header-top__right__mail-phone {
        display: none;
    }
    .header-top__left_address {
        display: none;
    }
    .header-top__menu {
        display: block;
    }
    .header-bottom {
        display: none;
    }
    .header {
        height: 120px;
        background: none;
        box-shadow: none;
        z-index: 30;
        position: absolute;
        width: 100%;
        top: 0;
    }
    .header-bottom_lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 45px;
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }
    .header-bottom {
        background: rgba(0, 75, 77, 0.7);
        height: auto;
    }
    .header-top {
        box-shadow: none;
    }
    .main-slider {
        height: 724px;
    }
    .main-slider__item {
        height: 724px;
    }
    .relize-project {
        padding-top: 806px;
    }
    .main-slider__item_main {
        font-size: 48px;
        margin-bottom: 36px;
        line-height: 59px;
    }
    .main-slider__item_content {
        padding-top: 40%;
    }
    .fixed-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .main-slider .slick-next {
        right: 90px;
    }
    .main-slider .slick-prev {
        right: 303px;
    }
    .main-slider .slick-dots {
        width: 374px;
        padding-left: 60px;
    }
    .relize-project__photo-container__row2 {
        display: none;
    }
    .relize-project__photo-container__row {
        grid-template-columns: 340px 340px;
        grid-row-gap: 20px;
    }
    .relize-project__photo-container__row__card-big {
        grid-column-start: 1;
        grid-column-end: 3;
        width: auto;
    }
    .relize-project__photo-container__row__card_img {
        width: 100%;
        height: 100%;
    }
    /*О нас*/
    .about-page-section__container {
        padding-top: 100px;
    }
    .bread {
        padding-top: 116px;
    }
    .current-service-container {
        padding-top: 100px;
    }
    /*О нас*/
    /*конкретная услуга*/
    .relize-project2 {
        padding-top: 100px;
    }
    .wrapper2 {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    /*конкретная услуга*/
    /*Отзывы*/
    .comments-section__container {
        padding-top: 100px;
    }
    /*Отзывы*/
    /*Услуги*/
    .service-gallery__container {
        padding-top: 100px;
    }
    /*Услуги*/
    /*Контакты*/
    .contacts-page__container {
        padding-top: 100px;
    }
    /*Контакты*/
    /*Проектные работы*/
    .prj-works__container {
        padding-top: 100px;
    }
    /*Проектные работы*/
    /*Портфолио*/
    .portfolio-page__container {
        padding-top: 100px;
    }
    /*Портфолио*/
}
@media screen and (max-width: 720px) {
    .header-top__container {
        justify-content: normal;
    }
    .header-top__menu {
        margin-left: auto;
    }
    .header-top {
        height: 80px;
    }
    .header {
        height: 80px;
    }
    .header-top__right_button {
        width: 142px;
        height: 36px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
    .wrapper {
        padding-left: 9px;
        padding-right: 9px;
    }
    .header-top__menu {
        width: 40px;
        height: 23px;
    }
    .open-menu {
        width: 38px;
        height: 30px;
    }
    .header-bottom_lists {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .header-bottom_lists_li_link {
        font-size: 20px;
    }

    .main-slider__item_main {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
    }
    .slick-dots {
        width: 170px;
        height: 46px;
    }
    .main-slider .slick-dots .slick-active button {
        font-size: 16px;
    }
    .main-slider .slick-dots button {
        font-size: 9px;
        padding-left: 6px;
    }
    .main-slider .slick-next {
        right: 17px;
        bottom: 24px;
        width: 47px;
        height: 15px;
        background: url(../img/dh-arr.png) no-repeat center center / contain;
    }
    .main-slider .slick-prev {
        right: 106px;
        bottom: 24px;
        width: 47px;
        height: 15px;
        background: url(../img/dh-arr.png) no-repeat center center / contain;
    }
    .main-slider .slick-prev:hover {
        background: url(../img/main-slider-arr.png) no-repeat center center / contain;
    }
    .main-slider .slick-next:hover {
        background: url(../img/main-slider-arr.png) no-repeat center / contain;
    }
    .main-slider .slick-next::before {
        content: '';
    }
    .main-slider .slick-next:hover::before {
        content: '';
    }
    .main-slider .slick-prev::before {
        content: '';
    }
    .main-slider .slick-prev:hover::before {
        content: '';
    }
    .main-slider .slick-dots {
        width: 170px;
        height: 46px;
        padding: 0 0 4px 13px;
    }
    .main-slider__item_btn {

    }
    .main-slider__item {
        height: 495px;
    }
    .relize-project {
        padding-top: 550px;
    }
    .main-h2 {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 32px;
    }
    .relize-project .wrapper{
        width: 304px;
        margin-left: auto;
        margin-right: auto;
    }
    .relize-project__photo-container__row__card {
        height: 142px;
    }
    .relize-project__photo-container__row {
        grid-template-columns: 142px 142px;
    }
    .relize-project__photo-container__row__card_text {
        font-size: 10px;
        line-height: normal;
        bottom: 10px;
    }
    .relize-project__photo-container__row__card .header-top__right_button {
        display: block;
        width: 100px;
        height: 30px;
        line-height: normal;
    }
    .relize-project__photo-container__row__card_mask {
        padding-left: 5px;
        padding-right: 5px;
    }
    .relize-project__photo-container__row__card_mask_text {
        font-size: 8px;
        line-height: normal;
        margin-bottom: 5px;
    }
    .relize-project_btn.header-top__right_button {
        margin-top: 20px;
    }
    .why-we {
        padding-top: 60px;
    }
    .why-we .wrapper {
        width: 304px;
    }
    .why-we__cards-container {
        grid-template-columns: 142px 142px;
        grid-gap: 20px;
    }
    .why-we__cards-container_card {
        padding: 16px 6px 16px 6px;
        flex-direction: column;
    }
    .why-we__cards-container_card_left {
        width: 60px;
        height: 60px;
        min-height: 60px;
        margin-bottom: 5px;
        -webkit-background-size: 60%;
        background-size: 60%;
    }
    .why-we .main-h2 {
        width: 100%;
    }
    .why-we__cards-container_card_right {
        width: auto;
        height: auto;
    }
    .why-we__cards-container_card {
        height: 290px;
        justify-content: center;
    }
    .why-we__cards-container_card_right_main {
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 12px;
        text-align: center;
        color: #009188;
        margin-bottom: 5px;
    }
    .why-we__cards-container_card_right_text {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 12px;
        color: #5E6366;
    }
    .clients {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .clients .wrapper {
        width: 304px;
    }
    .clients__slider {
        width: 240px;
    }
    .clients__slider__item__img {
        height: 64px;
        margin-bottom: 5px;
    }
    .clients__slider__item_text {
        font-size: 10px;
        line-height: normal;
    }
    .clients__slider .slick-next {
        right: -40px;
        top: 35px;
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .clients__slider .slick-prev {
        left: -40px;
        top: 35px;
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .clients__slider .slick-prev:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .clients__slider .slick-next:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center / contain;
    }
    .clients__slider .slick-next::before {
        content: '';
    }
    .clients__slider .slick-next:hover::before {
        content: '';
    }
    .clients__slider .slick-prev::before {
        content: '';
    }
    .clients__slider .slick-prev:hover::before {
        content: '';
    }
    .about {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .about .main-h2 {
        width: 304px;
    }
    .about__numbers-container {
        width: 304px;
        flex-wrap: wrap;
        wrap-option: rt;
    }
    .about__numbers-container_card_top-number {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 0;

    }
    .about__numbers-container_card_top-number_span {
        font-size: 20px;
        line-height: normal;
    }
    .about__numbers-container_card_text {
        font-size: 8px;
        line-height: normal;
    }
    .about__numbers-container_card4,
    .about__numbers-container_card5 {
        flex-grow: 2;
        margin-top: 25px;
    }
    .about__bottom {
        margin-top: 20px;
    }
    .about__bottom_right {
        width: 304px;
    }
    .about__bottom_p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .serteficates {
        padding-top: 60px;
    }
    .serteficates .wrapper {
        width: 304px;
    }
    .serteficates-slider {
        width: 240px;
    }
    .serteficates-slider_item_img {
        width: 110px;
        height: 160px;
        margin-bottom: 10px;
    }
    .serteficates-slider_item_text {
        width: 110px;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        color: #5E6366;
    }
    .serteficates-slider .slick-next {
        right: -40px;
        top: 70px;
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .serteficates-slider .slick-prev {
        left: -40px;
        top: 70px;
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .serteficates-slider .slick-prev:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .serteficates-slider .slick-next:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center / contain;
    }
    .serteficates-slider .slick-next::before {
        content: '';
    }
    .serteficates-slider .slick-next:hover::before {
        content: '';
    }
    .serteficates-slider .slick-prev::before {
        content: '';
    }
    .serteficates-slider .slick-prev:hover::before {
        content: '';
    }
    .comments .wrapper {
        width: 304px;
    }
    .comments__slider {
        width: 240px;
    }
    .comments__slider__item {
        padding: 18px;
    }
    .comments__slider__item_left {
        width: 60px;
        height: 60px;
    }
    .comments__slider__item_left_img {
        width: 42px;
        height: 36px;
    }
    .comments__slider__item_right_main {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .comments__slider__item_right_text {
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .comments__slider__item_right_link {
        font-size: 16px;
    }
    .comments__slider .slick-next {
        right: -40px;
        top: 140px;
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .comments__slider .slick-prev {
        left: -40px;
        top: 140px;
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .comments__slider .slick-prev:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .comments__slider .slick-next:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center / contain;
    }
    .comments__slider .slick-next::before {
        content: '';
    }
    .comments__slider .slick-next:hover::before {
        content: '';
    }
    .comments__slider .slick-prev::before {
        content: '';
    }
    .comments__slider .slick-prev:hover::before {
        content: '';
    }
    .comments {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .relize-project .main-h2 {
        width: auto;
    }
    .footer {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .footer__container__left-column_logo-link_img {
        width: 84px;
        margin-bottom: 20px;
    }
    .footer__container__left-column__lists_li_link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .footer__container__left-column__lists_li {
        margin-bottom: 10px;
    }
    .footer__container__center-column_lists_li_link {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 15px;
    }
    .footer__container__right-column_stars_star {
        width: 16px;
    }
    .footer__container__right-column_text {
        font-size: 10px;
        line-height: 12px;
    }
    .footer__container__right-column_link {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .footer_top-conatiner {
        grid-column-start: 2;
        top: 0;
    }
    .footer_bottom-conatiner {
        grid-column-start: 1;
        position: relative;
        top: -40px;
        margin-top: -110px;
        padding-right: 10px;
    }
    .call-back-form__container {
        width: 304px;
        height: 388px;
        left: calc(50% - 152px);
        top: calc(50% - 194px);
    }
    .form-close {
        right: 0;
        top: -40px;
    }
    .call-back-form__container_main {
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 22px;
    }
    .call-back-form__container_text {
        font-size: 16px;
        line-height: 20px;
    }
    .call-back-form__container_input {
        width: 220px;
        height: 36px;
        font-size: 16px;
        line-height: 20px;
    }
    .call-back-form__container_button {
        width: 220px !important;
        height: 36px !important;
    }
    .main-slider {
        height: 495px;
    }
    .main-slider__item_img {
        height: 495px;
        width: 820px;
        top: calc(50% - 248px);
        left: calc(50% - 410px);
    }
    .header-top__left_logo {
        width: 70px;
        height: 30px;
        margin-right: 10px;
    }
    .footer__container__right-column {
        display: none;
    }
    .mobile-footer-bottom {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .mobile-footer-bottom-mt {
        margin-top: 20px;
    }
    .mobile-footer-bottom-mb {
        margin-bottom: 6px;
    }
    .mobile-footer-bottom_link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: underline;
        color: #FFFFFF;
        display: block;
    }
    .mobile-footer-bottom__too-link {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;

    }
    .mobile-footer-bottom_link:hover {
        color: #0EAF4A;
    }
    .mobile-footer-bottom_container {
        display: block;
    }
    .footer_top-conatiner__mobile {
        display: block;
    }
    /*О нас*/
    .about-advantages .wrapper {
        width: 304px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-advantages .why-we__cards-container {
        grid-template-columns: 100%;
    }
    .about-advantages .why-we__cards-container_card_left {
        -webkit-background-size: 50%;
        background-size: 50%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .about-advantages .why-we__cards-container_card {
        height: 240px;
        padding: 20px;
    }
    .bread_link {
        font-size: 10px;
    }
    .about-page-section .wrapper{
        width: 304px;
    }
    .bread {
        display: none;
    }
    .about-page-section__container {
        padding-top: 35px;
    }
    .about-page-section__container__text-block_p {
        font-size: 12px;
        line-height: 14px;
    }
    .about-page-section {
        padding-top: 100px;
    }
    .about-advantages {
        padding-top: 100px;
    }
    .about__our-team .wrapper{
        width: 304px;
    }
    .about__our-team__container__team-cards_card {
        height: 270px;
        width: 100%;
        padding-right: 17px;
    }
    .about__our-team__container__team-cards_card_img {
        width: 120px;
        height: 100px;
    }
    .about__our-team__container__team-cards_card_right_name {
        font-size: 12px;
        line-height: 15px;
        margin-left: 132px;
    }
    .about__our-team__container__team-cards_card_right {
        padding-top: 26px;
        padding-right: 0;
    }
    .about__our-team__container__team-cards_card_right_post {
        margin-left: 132px;
        font-size: 8px;
        line-height: 10px;
    }
    .about__our-team__container__team-cards_card_right_text {
        margin-top: 50px;
        font-size: 10px;
        line-height: 14px;
        padding-left: 17px;
        padding-right: 0;
    }
    /*О нас*/
    /*Конкретный проект*/
    .current-service {
        padding-top: 80px;
    }
    .current-service-container {
        padding-top: 60px;
    }
    .current-service-container_text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .current-service-container_text a {
        font-size: 12px;
        line-height: 16px;
    }
    .current-service .wrapper {
        width: 304px;
    }
    .current-service-container_text-mb {
        margin-bottom: 20px;
    }
    .current-service-container__slider__item {
        height: 250px;
    }
    .current-service-container__slider {
        height: 250px;
        margin-bottom: 32px;
    }
    .current-service-container__slider .slick-dots {
        width: 170px;
        height: 46px;
        padding: 0 0 4px 13px;
    }
    .current-service-container__slider .arrow-prev {
        right: 106px;
        bottom: 24px;
        width: 47px;
        height: 15px;
        background: url(../img/dh-arr.png) no-repeat center center / contain;
    }
    .current-service-container__slider .arrow-next{
        right: 17px;
        bottom: 24px;
        width: 47px;
        height: 15px;
        background: url(../img/dh-arr.png) no-repeat center center / contain;
    }
    .current-service-container__slider .slick-dots .slick-active button {
        font-size: 16px;
    }
    .current-service-container__slider .slick-dots button {
        font-size: 9px;
        padding-left: 6px;
    }
    .sub-main {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .current-service-container_green-cards_card {
        height: 224px;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
    }
    .current-service-container_green-cards_card_number {
        font-size: 80px;
        line-height: 98px;
    }
    .current-service-container_green-cards_card_text {
        font-size: 12px;
        line-height: 15px;
        width: 275px;
        text-align: center;
    }
    .current-service-container_slider {
        width: 220px;
        margin-bottom: 20px;
    }
    .current-service-container_slider_item {
        width: 220px !important;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
    }
    .current-service-container_slider_item_text {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    .current-service-container_slider_item_img {
        margin-right: 0;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    .current-service-container_slider .slick-next {
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
        right: -50px;
    }
    .current-service-container_slider .slick-next:hover {
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .current-service-container_slider .slick-prev {
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
        left: -50px;    }
    .current-service-container_slider .slick-prev:hover {
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .period-section {
        padding-top: 60px;
    }
    .period-section__container__content {
        width: 304px;
        height: 275px;
    }
    .period-section__container__content_main {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .period-section__container__content_text {
        font-size: 16px;
        line-height: 20px;
    }
    .period-section__container__content_btn {
        width: 195px;
        height: 36px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .period-section__container__content_link {
        font-size: 18px;
        line-height: 20px;
    }
    .relize-project2 {
        padding-top: 60px;
    }
    .similar-services__container__slider {
        width: 220px;
        height: 160px;
    }
    .similar-services__container__slider__item_content {
        height: 160px;
        width: 220px;
    }
    .similar-services__container__slider__item_content_text {
        font-size: 12px;
        line-height: 15px;
    }
    .similar-services__container__slider .slick-next {
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
        right: -50px;
    }
    .similar-services__container__slider .slick-next:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .similar-services__container__slider .slick-prev{
        width: 47px;
        height: 15px;
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
        left: -50px;
    }
    .similar-services__container__slider .slick-prev:hover {
        background: url(../img/moblie-grenn-arr.png) no-repeat center center / contain;
    }
    .similar-services {
        padding-top: 60px;
    }
    .questions {
        padding-top: 60px;
    }

    .current-service-container_text {
        text-align: center;
    }
    .questions__container__form {
        width: 220px;
        margin-top: 20px;
    }
    .questions__container__form_input {
        height: 36px;
        font-size: 12px;
        line-height: 14px;
    }
    .questions__container__form_btn {
        height: 36px;
        font-size: 12px;
        line-height: 14px;
    }
    .period-section .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 304px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper2 {
        width: 304px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    /*Конкретный проект*/
    /*Сертификаты*/
    .certifications__content_row {
        grid-template-columns: 142px 142px;
        grid-row-gap: 10px;
        margin-bottom: 60px;
    }
    .sub-main-not-bold {
        font-size: 12px;
        line-height: 15px;
    }
    .serteficates-slider_item_text {
        font-size: 8px;
        line-height: 10px;
    }

    /*Сертификаты*/
    /*Отзывы*/
    .comments-cards__card {
        position: relative;
        box-shadow: 0px 16px 24px rgba(94, 99, 102, 0.2);
        background: #fff;
        padding: 12px;
        width: 304px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    .comments-cards__card:first-child {
        padding-top: 12px;
    }
    .comments-cards__card:not(:first-child) {
        margin-top: 28px;
    }
    .comments-cards__card_img {
        position: absolute;
        width: 81px;
        height: 105px;
        left: 0;
        top: 0;
        margin: 0 auto;
    }
    .comments-cards__card_right {
        width: 100%;
        background: none;
        box-shadow: none;
        padding: 0;
    }
    .comments-cards__card_right_top {
        flex-direction: column;
        left: 105px;
        top: 12px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .comments-cards__card_right_top_main {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 6px;
    }
    .comments-cards__card_right_top_stars_star {
        width: 13px;
        height: 12px;
    }
    .comments-cards__card_right_top_stars_star:not(last-child) {
        margin-right: 1px;
    }
    .comments-cards__card_right_date {
        display: none;
    }
    .comments-cards__card_right_text {
        font-size: 8px;
        line-height: 10px;
    }
    .comments-cards__card:last-child {
        padding-bottom: 12px;
    }
    .comments-cards__card_right_text1 {
        margin-top: 100px !important;
    }
    .comments-section {
        padding-top: 80px;
    }
    .comments-section__container {
        padding-top: 60px;
    }
    .comments-cards__card_btn {
        margin-top: 20px;
        width: 142px;
        height: 36px;
        font-size: 12px;
        line-height: 14px;
    }
    .get-comment {
        padding-top: 60px;
    }
    .get-comment__container_text {
        font-size: 12px;
    }
    .get-comment__container_star {
        width: 28px;
        height: 25px;
        margin-right: 5px;
    }
    .get-comment__container__stars {
        margin-left: 16px;
    }
    .get-comment__container_textarea {
        height: 232px;
        font-size: 12px;
        line-height: 19px;
        margin-top: 30px;
    }
    .get-comment__container_textarea__bottom-block {
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 220px;
        width: 220px;
    }
    .get-comment__container {
        padding-bottom: 60px;
    }
    .comments-cards__card_hr {
        display: block;
        width: 100%;
        margin-top: 28px;
        height: 4px;
        background: #009188;
    }
    /*Отзывы*/
    /*Услуги*/
    .service-gallery {
        padding-top: 80px;
    }
    .service-gallery__container {
        padding-top: 60px;
    }
    .service-gallery__container__cards {
        grid-template-columns: 142px 142px;
    }
    .service-gallery__container__cards_card {
        height: 120px;
    }
    .service-gallery__container__cards_card_main {
        font-size: 12px;
        line-height: 15px;
        grid-row-gap: 20px;
    }
    .service-text-section_p {
        font-size: 12px;
        line-height: 14px;
    }
    .service-text-section_p_link-tel {
        font-size: 12px;
        line-height: 14px;
    }
    .service-text-section_p_link {
        font-size: 12px;
        line-height: 14px;
    }
    /*Услуги*/
    /*контакты*/
    .contacts-page {
        padding-top: 80px;
    }
    .contacts-page__container {
        padding-top: 60px;
    }
    .contacts-page__container_left_sub-main {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
    }
    .contacts-page__container_left_text {
        font-size: 12px;
        line-height: 15px;
    }
    .contacts-page__container_left_text_link {
        font-size: 12px;
        line-height: 15px;
    }
    .contacts-page__download-ser {
        font-size: 12px;
        line-height: 15px;
    }
    .contacts-page__container_columns_column_main {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
    }
    .contacts-page__container_columns_column_ul_li {
        font-size: 12px;
        line-height: 15px
    }
    .contacts-page__container_columns_column_ul_li_a {
        font-size: 12px;
        line-height: 15px
    }
    .contacts-page__container_right_form {
        width: 100%;
        height: 388px;
        margin-top: 60px;
    }
    .contacts-page__container_right_form_main {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 12px;
    }
    .contacts-page__container_right_form_text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 32px;
    }
    .contacts-page__container_right_form_input {
        width: 220px;
        height: 36px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .contacts-page__container_right_form_btn {
        width: 220px;
        height: 36px;
        font-size: 16px;
    }
    .map__container_img-row_card {
        width: 142px;
        height: 100px;
    }
    .map__container_img-row_card_text {
        font-size: 12px;
        line-height: 15;
    }
    .map {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .container-for-map iframe{
        height: 304px;
    }
    .all-proj-btn {
        margin-top: 20px;
    }
    /*контакты*/
    /*Проектные работы*/
    .prj-works {
        padding-top: 80px;
    }
    .prj-works__container {
        padding-top: 60px;
    }
    .prj-works__container_top-images_img {
        width: 142px;
        height: 120px;
    }
    .prj-works__container_top-images_img_text {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    .prj-works__container_top-images {
        margin-bottom: 20px;
    }
    /*Проектные работы*/
    /*Портфолио*/
    .portfolio-page__container__gallery {
        grid-template-columns: 142px 142px;
    }
    .portfolio-page__container__gallery__item {
        height: 120px;
    }
    .portfolio-page__container__gallery__item_text {
        font-size: 12px;
        line-height: 15px;
    }
    .portfolio-page {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .portfolio-page__container {
        padding-top: 60px;
    }
    /*Портфолио*/
}